*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner{
    height: 100dvb;
    width: 100%;
    background-image: linear-gradient(rgb(28, 28, 28), rgba(28, 28, 28)), url(bggg.jfif);
    background-position: center;
    background-size: cover;
}


.navbar{
    display: flex;
    width: 90%;
    margin: auto;
    padding: 32px 0;
    align-items: center;
    justify-content: space-between;
}

.logo{
    cursor: pointer;
    border-radius: 50%;
}

.navbar ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 25px;
    
}

.navbar ul li a{
    text-decoration: none;
    color: #ffffff;
}

.navbar ul li a:hover{
    box-shadow: 0 2px rgb(190, 190, 190);
    transition: 1s;
}
   
.content{
    width: 100%;
    position: absolute;
    top: 40%;
    color: white;
    text-align: center;
}

.content h1{
    font-size: 62px;
}

.content p{
    margin: 18px auto;
}

button{
    width: 200px;
    padding: 15px 0;
    border-radius: 35px;
    margin: 20px;
    text-align: center;
    color: white;
    cursor: pointer;
    font-weight: 600;
    background-color: #1689fc;
    font-size: 17px;
}

button:hover{
    color: black;
    transition: 1s;
}
